<?xml version='1.0' encoding='utf-8'?>
<plugin id="datoms.custom.plugin" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordovaDatoms</name>
    <js-module name="cordovaDatoms" src="www/cordovaDatoms.js">
        <clobbers target="cordova.plugins.cordovaDatoms" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordovaDatoms">
                <param name="android-package" value="io.datoms.plugin.cordovaDatoms" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/cordovaDatoms.java" target-dir="src/io/datoms/plugin/cordovaDatoms" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cordovaDatoms">
                <param name="ios-package" value="cordovaDatoms" />
            </feature>
        </config-file>
        <source-file src="src/ios/cordovaDatoms.m" />
    </platform>
</plugin>